





.titles {
    display: flex; 
     justify-content: space-between;
     margin-bottom: 50px;
      

}







.wrap {
justify-content: center;
    align-items: center;
    padding-top: 100px;
  
}









body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    width: 300px; 
    
    font-size: 18px;
     margin: 0 auto; /* Center the boxes horizontally */
     margin-bottom: 40px;
}





.ql-editor{
    min-height:200px;
    
}

.reflections {
    padding-top: 100px;
    justify-content: center;
    

}